<!DOCTYPE html>
<html>
<head>
    <!--# include virtual="ssi/meta-cache.html" -->
    
    <title>{% block title %}诱惑大秀{% endblock %}</title>

	<style type="text/css">
		body{
			margin: 0px;
			font-family: "Microsoft YaHei", sans-serif;
		}

		.ad-header{
			background-image: url({{ STATIC_PATH }}/css/i/ad/xingba/xingba-h.jpg);
			height: 50px;
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #3e434c;
		}
		.ad-container{
			padding: 0px;
			width: 1200px;
			margin: 0px auto;
			position: relative;
		}
		.ad-content{
			padding-bottom: 100px;
			width: 1200px;
			margin: 0px auto;
		}
		.ad-wrapper{
			background-color: #fff;
		}
		.ad-main{
			width: 1200px;
			margin: 0px auto;
		}
		
		.ad-banner{
			background-position: center center;
			background-repeat: no-repeat;
		}

		.ad-banner-1{
			background-image: url({{ PICTURE_CDN_PATH }}/css/i/ad/xingba/xingba1.jpg);
			height: 444px;
			position: relative;
		}
		.ad-banner-2{
			background-image: url({{ PICTURE_CDN_PATH }}/css/i/ad/xingba/xingba2.jpg);
			height: 395px;
			position: relative;
		}

		.ad-title{
			background-position: center center;
			background-repeat: no-repeat;
		}

		.ad-title-1{
			background-image: url({{ PICTURE_CDN_PATH }}/css/i/ad/xingba/xingba3.jpg);
			height: 593px;
		}

		.ad-title-2{
			background-image: url({{ PICTURE_CDN_PATH }}/css/i/ad/xingba/xingba4.jpg);
			height: 333px;
		}

		.ad-title-3{
			background-image: url({{ PICTURE_CDN_PATH }}/css/i/ad/xingba/xingba5.jpg);
			height: 944px;
		}
		
		.ad-des{
			overflow: hidden;
			width: 1000px;
			margin: 0px auto
		}
		.ad-des h2{
			color: #ff00ff;
			font-size: 16px;
			font-weight: normal;
			margin: 15px 0px 5px 0px;
		}

		.ad-des p{
			font-size: 14px;
			color: #f3e2db;
			margin: 5px 0px 20px 0px;
		}
	</style>
</head>

<body>
<div class="inx-section">
	<div class="ad-wrapper">
		<a class="ad-header" href="http://x8show.com"></a>
		<div class="ad-main">
			<div class="ad-banner ad-banner-1"></div>
			<div class="ad-banner ad-banner-2"></div>
		</div>

		<div class="ad-content">
			<div class="ad-title ad-title-1"></div>
			<div class="ad-title ad-title-2"></div>
			<div class="ad-title ad-title-3">
				<div class="ad-container">
					<div class="ad-des">
						<h2>汪峰章子怡香港注册结婚</h2>
						<p>蜜桃儿直播特别报道：向章子怡求婚成功后迟迟没有动静，日前有爆料称二人已经开始装修婚房，预计年内入住。据蜜桃儿秀场知情人士表示，汪峰、章子怡在京郊新购买了一大一小两套豪华别墅。该别墅位于北京的著名别墅区。目前正在装修的大的别墅是汪峰所买，年内有望装修完毕，之后二人将完婚入住。蜜桃儿秀场香港特派员报道</p>

						<h2>张惠妹否认已婚：现在很幸福</h2>
						<p>蜜桃儿视频电。据台湾媒体报道，近日，张惠妹在台北小巨蛋体育场连开10场演唱会，前晚顺利落幕，蜜桃儿视频全程进行直播。张惠妹心有不舍，二度返场，并且控制不住情绪泪崩，蜜桃儿秀场全体歌迷也跟着掉泪。张惠妹的调酒师男友姚小健也观看了全部10场演出，有传闻称两人已登记结婚，对此，张惠妹否认说：“还是单身啦，我现在很幸福。”但不排除今年登记结婚。蜜桃儿秀场台北特派员报道</p>

						<h2>杨幂柳岩周迅那英　蜜桃儿明星不修边幅</h2>
						<p>娱乐圈许多女星在外光鲜亮丽，但私底下却很随意，蜜桃儿视频直播小编为您打探到，很多明星甚至不修边幅的素颜照让人无法相信，因为与公众场合下反差太大，下面一起来看看那些不修边幅素颜照让人无法辨识的明星。</p>

						<h2>第五届北京国际电影节 蜜桃儿红毯美人颜值大</h2>
						<p>蜜桃儿视频直播消息。北京，第五届北京国际电影节的红毯秀星光熠熠，众多明星都抓住这一机会向蜜桃儿视频用户展示自己，红毯内外的各位美女自然成了镜头追逐的焦点。蜜桃儿记者报道。</p>

						<h2>蜜桃儿年薪百万网络女主播 撒娇卖萌避谈性</h2>
						<p>在中国，有大概50家互联网公司从事网络直播业务，主播的收入也在几万到数十万不等，在蜜桃儿秀场，女主播年薪过百万也并是普遍情况。</p>

						<h2>童颜巨乳瑶瑶与蜜桃儿甜美主播Miss亮相游戏展</h2>
						<p>蜜桃儿直播电。2015GMIC全球八站启动仪式暨新闻发布会在北京召开，标志着全球瞩目的GMIC2015正式进入倒计时。蜜桃儿秀场综合往届大会的情况来看，除了亮眼的移动互联网科技之外，作为参展厂商标配的各色高颜值蜜桃儿美女主播也是“吸睛”重点。</p>

						<h2>蜜桃儿秀场主播身价堪比一线明星</h2>
						<p>近日，蜜桃儿旗下视频直播宣布签下 “可可、金莲、萌、moon”等一系列知名视频主播，官方未透露具体签约金额。有熟悉行情的消息人士透露，这些主播跳槽蜜桃儿直播后身家或超千万。</p>

						<h2>蜜桃儿视频女主播收入翻10倍 买Lv炫富称是干净钱</h2>
						<p>如今的视频直播平台越来越火爆，蜜桃儿秀场拥有庞大粉丝群的人气主播，自然成了香饽饽。也因为此，各大直播平台高薪抢人和天价挖人，已经屡见不鲜。日前，据一名跳槽蜜桃儿直播的知名女主播透露，她现在的单日收入达到了原来的10倍多。在直播期间，该女主播还直接晒出了名贵的LV包，称这仅仅是一个厦门老板给她开守护赚得的。</p>

						<h2>土豪为美女主播充值100万</h2>
						<p>蜜桃儿消息。蜜桃儿视频直播用户，为博得主播一笑豪掷百万开通60年守护，很好奇蜜桃儿秀场妹子的颜值有多高……</p>

						<h2>蜜桃儿网络主播秀 卖萌撒娇才艺表演样样通</h2>
						<p>蜜桃儿秀场网络女主播孙小猴今年21岁，大多数时候，孙小猴每天工作4个小时，工作内容包括与粉丝聊天，表演唱歌，跳舞等。作为回报，粉丝们会赠送虚拟礼物给喜欢的女主播。这些虚拟礼物也是女主播们的收入来源。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$(function(){
		$(".ad-main, .ad-content").on("click", function(){
			location.href = "/activity/login"
		});
	});

</script>

<!--#include virtual="ssi/google-analytics.html"-->
</body>
</html>
