<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>订单信息</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="预定订单信息"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <style>
        html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
            margin: 0;
            padding: 0;
        }

        html {
            background-color: #FFF;
        }

        body {
            background-color: #FFF;
            font-size: 12px;
            line-height: 1.5;
            font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
            -webkit-text-size-adjust: none;
        }

        img, fieldset {
            margin: 0;
            padding: 0;
            border: 0;
        }

        input, textarea {
            font-size: 12px;
        }

        table {
            border-collapse: collapse;
        }

        a {
            color: #0082c6;
            text-decoration: none;
            outline: 0 none;
        }

        a:hover {
            text-decoration: none;
        }

        h1, h2, h3, h4, h5 {
            font-family: Arial, Simsun, sans-serif;
        }

        ul li, ol li {
            list-style: none;
        }

        dfn {
            font-style: normal;
            font-size: 12px;
            font-family: Arial !important;
        }

        select {
            padding: 1px;
            font-family: Arial, Simsun, sans-serif;
            border: 1px solid #CCC;
            background-color: #FFF;
        }

        input[type="text"] {
            padding: 3px;
            border: solid 1px #CCC;
            box-shadow: 1px 1px 3px #DDDDDD inset;
        }

        input[type="text"]:focus {
            background-color: #f1f9ff;
            border-color: #5d9de5 #67a1e2 #67a1e2 #5d9de5;
            border-style: solid;
            border-width: 1px;
            box-shadow: 1px 1px 3px #d0dee6 inset;
        }

        .layoutfix {
            display: inline-block;
        }

        .layoutfix {
            display: block;
            overflow: hidden;
        }

        .basefix {
            *zoom: 1;
        }

        .basefix:after {
            clear: both;
            content: '.';
            display: block;
            height: 0;
            overflow: hidden;
        }

        /***fix UED nav***/
        .cui_nav, .cui_hd {
            min-width: 100px;
            max-width: 980px;
            *width: 980px !important;
        }

        .ctriplogo {
            width: 40%;
        }

        .cui_toolkit {
            width: 60%;
        }

        #base_ft {
            max-width: 980px;
            width: 95%;
            *width: 980px !important;
        }

        .cui_sub_nav {
            width: 978px !important;
        }

        .contain {
            max-width: 950px;
            width: 95%;
            *width: 950px;
            margin: 0 auto;
        }

        .contain img {
            max-width: 100%;
        }

        .cui_toolkit {
            display: none !important;
        }

        .crumbs {
            padding: 10px 0;
        }


        .tem_title {
            max-width: 980px;
            width: 100%;
            *width: 980px !important;
            color: #123f5e;
            margin-bottom: 15px;
            background-position: 50% -58px;
        }

        .tem_title h1 {
            font: 30px "microsoft yahei", simsun;
            text-align: center;
            padding-top: 24px;
            padding-bottom: 12px;
        }

        .tem_title a {
            margin-right: 10px;
            display: inline-block;
        }

        .tem_box {
            background-color: #fff;
            margin-bottom: 25px;
            border: solid 1px #ddd;
            box-shadow: 2px 2px 8px #eee;
        }

        .tem_boxtitle {
            display: inline-block;
            #display: inline;
            #zoom: 1;
            margin-left: -12px;
            margin-top: 5px;
            background-position: 100% -20px;
            padding-right: 25px;
            color: #fff;
            font-weight: bold;
            height: 28px;
            _overflow: hidden;
            background-color: #198cdd;
            font-size: 14px;
        }

        .tem_boxtitle span {
            display: inline-block;
            #display: inline;
            #zoom: 1;
            background-position: 0 -20px;
            padding-left: 20px;
            height: 35px;
            line-height: 28px;
            _position: relative;
        }

        .tem_txt {
            padding: 28px 40px 35px;
        }

        /**to_top**/
        .top_box {
            width: 40px;
            border: 1px solid #D7D7D7;
            border-right: 0 none;
            position: fixed;
            right: 0;
            top: 50%;
            margin-top: -60px;
            border-radius: 5px 0 0 5px;
            z-index: 10;
            _position: absolute;
        }

        .top_box a {
            display: block;
        }

        .top_box a:hover {
            text-decoration: none;
        }

        .top_box .top {
            padding: 10px 8px 2px;
            background-color: #fff;
            border-radius: 5px 0 0 5px;
        }

        .top_box .top i {
            display: block;
            width: 16px;
            height: 16px;
            background-position: 0 0;
            margin: 0 4px 4px;
        }

        /**/

        .contain table {
            width: 100%;
            table-layout: fixed;
        }

        .contain table td {
            padding: 10px;
            vertical-align: middle;
            word-break: break-all;
            border: solid 1px #ddd !important;
        }
        #base_ft {
             width: 950px;
             clear: both;
             text-align: center;
             padding-top: 15px;
             margin: 0 auto 20px;
             font-family: Arial,verdana;
             color: #4c4c4c;
             font-size: 12px;
         }
        .cui_hd_cont {
            background-color: #fff;
            clear: both;
        }
        #cui_hd {
            font-family: Arial,tahoma,verdana,"Microsoft YaHei",Simsun,sans-serif;
            line-height: 1.5;
            font-size: 12px;
        }

        .cui_hd {
            min-width: 980px;
            max-width: 1180px;
            height: 59px;
            margin: 0 auto;
            padding: 0 10px;
            background-color: #fff;
        }
        .ctriplogo {
            position: relative;
            float: left;
            width: 126px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .ctriplogo a {
            display: block;
            width: 126px;
            height: 43px;
            overflow: hidden;
            text-indent: -999px;
        }
        .txt{
            color: rgb(18, 63, 94);
            font-size: 12px;
        }
        .tem_txt a{
            display: block;
            width: 60px;
            height: 30px;
            line-height: 30px;
            margin: auto;
            background-color: #f95181;
            color: #fff;
            border-radius: 4px;
            margin-top: 4px;
        }


        @media only screen and (max-width: 480px) {
            body {
                font: normal 14px/1.5 Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei
            }

            #cui_hd, #base_ft {
                width: inherit !important;
                min-width: inherit !important;
                max-width: inherit !important;
            }

            .tem_title h2 {
                font-size: 2em;
                border-top: 1px solid #ddd !important;
            }

            .tem_box {
                border: 0 none;
                box-shadow: none;
            }

            .tem_title, .tem_boxtitle, .tem_boxtitle span {
                background-image: none;
            }

            .top_box {
                display: none;
            }

            .tem_boxtitle {
                margin: 0;
                width: 100%;
                padding: 0;
                text-align: center;
            }

            .tem_boxtitle span {
                padding: 0;
            }

            .tem_txt {
                padding: 15px 0;
            }
            .tem_txt a{
                font-size: .5rem;
            }
            .tem_txt p:nth-child(2){
                display: none;
            }

            #base_ft {
                border-top: 1px solid #ddd !important;
            }

            .ctriplogo .supplier_logo {
                width: inherit !important;
            }

            .cui_hd_cont {
                display: none !important;
            }

            .contain img {
                width: auto !important;
                height: auto !important;
            }
        }

    </style>
</head>
<body>
<div class="contain">
    <div class="crumbs">
        <a href="/">蜜桃儿</a> > 支付订单信息
    </div>
    <div class="tem_title">
        <h1>
            支付订单信息
        </h1>
    </div>

    <div class="tem_box">
        <div class="tem_txt">
            <p>
                {% if msg %}
                {{ msg }}
                {% else %}
                <strong>
                    <span class="txt">
                        订单号：{{ pay_id }}
                    </span><br>
                    <span class="txt">
                        充值金额：{{ money }}
                    </span><br>
                    <span class="txt">
                        充值人姓名： {{ remark }}
                    </span><br>
                    <span class="txt">
                        收款银行：{{ bank }}
                    </span><br>
                    <span class="txt">
                        收款人：{{ rec_name }}
                    </span><br>
                    <span class="txt">
                        收款账户：{{ account }}
                    </span>
                </strong>
                {% endif %}
            </p>
            <p style="text-align: center;"><a href="/">返回首页</a></p>
        </div>
    </div>
</div>
</body>
</html>
