{% extends "Member/layout.html.twig" %}

{% block title %}{{ L('MEMBER.AGENTS.TITLE') }}{% endblock %}

{% block right %}
<div class="perCenter">
    <div class="perCenter-item clearfix">
        <span class="perCenter-title">{{ L('MEMBER.AGENTS.TITLE') }}</span>
    </div>
    <form action="/member/agents" method="post" name="search" id="liveTime">
        <div class="perCenter-item clearfix">
            <span>查询时间</span>
            <input class="Wdate txt txt-s J-start" type="text" name="mintimeDate" onclick="WdatePicker()" value="{{ mintimeDate }}">
            <span>至</span>
            <input class="Wdate txt txt-s J-end" type="text" name="maxtimeDate" onclick="WdatePicker()" value="{{ maxtimeDate }}">
            <button type="button" name="search" class="btn" onclick="timeComparing('liveTime')" >{{ L('MEMBER.AGENTS.SEARCH') }}</button>
        </div>
    </form>
<!--<div class="live-count">
        <span class="lc-title">查询结果：</span>
        <span class="lc-sub-title">查询天数：</span>
        <span class="lc-sub-content">10天</span>
        <span class="lc-sub-title">直播时长：</span>
        <span class="lc-sub-content">4小时10分钟</span>
        <span class="lc-sub-title">有效天数：</span>
        <span class="lc-sub-content">2天</span>
        <span class="lc-sub-title">直播收入：</span>
        <span class="lc-sub-content">1500钻</span>
    </div>-->
    <table class="table charge-table">
        <tr>
            <th>{{ L('MEMBER.AGENTS.USERNAME') }}</th>
            <th>{{ L('MEMBER.AGENTS.NICKNAME') }}</th>
            <th>{{ L('MEMBER.AGENTS.MEMBERS') }}</th>
            <th>{{ L('MEMBER.AGENTS.RECHARGE_POINTS') }}(钻石)</th>
            <th>{{ L('MEMBER.AGENTS.REBATE_POINTS') }}</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.nickname }}</td>
            <td>{{ item.members }}</td>
            <td>{{ item.recharge_points }}</td>
            <td>{{ item.rebate_points }}</td>
        </tr>
        {% endfor %}

    </table>
    <p class="fred mt10">{{ L('MEMBER.AGENTS.MESSAGE') }}。</p>
    {#<div class="f14 fred mt10"> 您{{ start|date('Y年m月d日') }}到{{ end|date('Y年m月d日') }}的总计为{{ totalTime }}</div>#}
</div>

    {% autoescape false %}
        <div  id="page" class="clearfix" style="float:right">{{ data.render }}</div>
    {% endautoescape %}

{% endblock %}

{% block subjavascript %}
    <script type="text/javascript" src="{{ STATIC_PATH }}{{ JS_PATH }}widget/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        cross.importFile("pageCommonJs", "js");
    </script>
{% endblock %}