<html>
<body>
<form name='contentPay' id='contentPay' method='post' action='{{ pay_url }}'>
    <input type='hidden' name='app' value='{{ app }}' />
    <input type='hidden' name='aoid' value='{{ aoid }}' />
    <input type='hidden' name='r_url' value='{{ r_url }}' />
    <input type='hidden' name='m1' value='{{ m1 }}' />
    <input type='hidden' name='m2' value='{{ m2 }}' />
    <input type='hidden' name='pw' value='{{ pw }}' />
    <input type='hidden' name='p' value='{{ p }}' />
    <input type='hidden' name='v_code' value='{{ v_code }}' />
</form>
<script language='javascript' type='text/javascript'>document.contentPay.submit();</script>
</body>
</html>