<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ room.user.nickname }}的直播间 - 蜜桃儿，华人视频直播第一站，海量美女才艺展示</title>
    <meta name="keywords"
          content="蜜桃儿,app，apk，约炮神器，蜜桃儿手机客户端，蜜桃儿华人视频直播平台是首屈一指的私密美女视频直播秀场、私家秀.最具诱惑的免费秀场,高清流畅福利直播,最流畅的美女直播秀私家夜蒲">
    <meta name="description" content="第一坊二站,mitao,蜜桃,FC2,直播,MFC,直播,网红美女,福利直播,大秀门户,YY大秀,免费美女直播,互动直播,性感直播视频,全球领先福利直播平台">

    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
    >
    <script>
        //安全邮箱状态
        window.SAFE_MAIL_STATE = {
            safemail: "{{ userInfo.safemail }}",
            in_limit_points: "{{ in_limit_points }}",
            in_limit_safemail: "{{ in_limit_safemail }}",
            points: "{{ userInfo.points }}",
            new_user: "{{ new_user }}", //0:老用户，1：新用户
            roled: "{{ userInfo.roled }}"
        };

        //第三方平台接入
        window.OpenAPI = {};
        window.OpenAPI.httphost = '{{ httphost }}';
        window.OpenAPI.link = JSON.parse('{{ plat_url | raw }}');
        //第三方菜单判断
        window.OpenMenu = Object.keys(window.OpenAPI.link).length;

    </script>
    <script>
        //封面，头像，轮播图
        window.IMG_HOST = "{{ IMG_PATH }}";
        window.CDN_HOST = "{{ STATIC_PATH }}";
        window.LOGIN_HOST = "{{ login_domain }}";
        window.PUBLISH_VERSION = "{{ publish_version }}";
        window.FLASH_VERSION = "{{ flash_ver_h5 }}";

        var _flashVars = {
            "rid": "{{ rid }}"
        };

        var getLocation = function (p) {
            var reg = new RegExp("(^|&)" + p + "=([^&]*)(&|$)");
            var get = location.search.substr(1).match(reg);
            return get != null ? decodeURIComponent(get[2]) : '';
        }

        _flashVars.httpRes = window.CDN_HOST + "/flash/" + window.FLASH_VERSION + "/";
        _flashVars.httpDomain = "http://" + document.domain + "";
        _flashVars.httpImage = "{{ IMG_PATH }}";
        _flashVars.appname = "第一坊";
        _flashVars.appurl = _flashVars.httpRes + "update/oneRoom.air";
        _flashVars.getRoomKey = "{{ getRoomKey }}";
        _flashVars.certificate = "{{ certificate }}";
        _flashVars.roomOrigin = "{{ room.origin }}";
        window._flashVars = _flashVars;
        _flashVars.OPEN_WEB = "{{ OPEN_WEB }}";
        window.ROOMID = parseInt(window._flashVars.rid, 10);
        window.isMobile = _flashVars.roomOrigin == 21 || _flashVars.roomOrigin == 31
        if (getLocation("target") == "pc") {
            window.isMobile = false
        } else if (getLocation("target") == "mobile") {
            window.isMobile = true
        }
    </script>

    <script type="text/javascript" src="{{ STATIC_PATH }}/public/dest/{{ publish_version }}/cross.js"></script>
    <link href="http://s.howsp.com/roomh5/build/styles-60adc91d1bbd2492c473.css" rel="stylesheet"></head>

<body>
<div id="app"></div>

<script>
    cross.importFile("libJs", "js");
</script>

<script type="text/javascript" src="http://s.howsp.com/roomh5/build/vendor-60adc91d1bbd2492c473.js"></script><script type="text/javascript" src="http://s.howsp.com/roomh5/build/app-60adc91d1bbd2492c473.js"></script></body>

<script type="text/javascript">
    cross.importFile("commonCss", "css");
    cross.importFile("liveH5Css", "css");

    cross.importFile("commonJs", "js");
    cross.importFile("liveH5Js", "js");
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80038943-1', 'auto');
    ga('send', 'pageview');

</script>
</html>